/*
Unit Converter--Solo project built for Scrimba. github.com/wlangley7870
*/

* {
    
}

#frame {

    
    display: flex;
    flex-direction: column;
    max-width: 550px;

}

/* */
#topGUI {
    background: #5B21B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    padding: 30px;

    
}

#header1 {

    font-family: Inter;
    font-size: 28px;
    font-weight: 800;


}

#fancy-input {
    /* input options */
    background: rgba(0,0,0,0);
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid #B295FF;

    /* font and related options */
    font-size: 58px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
}

#convert-btn{

    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.25);
    background: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


/* */
#dataContainer {

    background: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.gridBase {

    width: 500px;
    height: 109px;
    border-radius: 5px;
    background: #273549;
    color: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;   
}

#gridHead {

    color: #CCC1FF;
    text-align: center;
    font-family: Inter; 
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */


}

.cardText {

    color: #FFF;
text-align: center;

/* text-sm/leading-5/font-normal */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */

}